<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>preview</title>
<body>
<%- address %>
<%- files.length %>
<%- useremail %>
<%- title %>
<% if(files.length > 0){ %>

  <% for(var i=0; i < files.length; i++){ %>
        <li>
            <%- files[i].filename %>
        </li>
      <img src="../uploads/<%- files[i].filename %>">uploads
  <% } %>
<% } %>

</body>
</html> 