<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <!-- the manifest 
    <link rel="manifest", href="./manifest.json"> --> 
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= name %></h2>
    <p>Wellcom to <%= title %></p>
    <p>Wellcom to <%= page %></p>
    <p><a href="./operator"> 관리자모드 </a></p>
  <!--  <script src="loader.js"></script> --> 
  </body>
</html>
