<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= name %></h2>
    <p>Wellcom to <%= title %></p>
    <p>Wellcom to <%= page %></p>
    <a href="./auth/login">Operator</a>

  </body>
</html>
