extends layout
block content
    header
        h1 Node / Express PWA.
    
    main
        each user in users
            div.user
                img(src=user.picture.large, alt=user.picture.large)
                p.title=user.name.title
                h2.user=user.name.first 
                p.lastname=user.name.last

